*{
    padding: 0px;
    margin: 0px;
}
#header{
    margin: auto;
    width: 900px;
}
ul, ol{
    list-style: none;
}
.nav li a {
    border-radius: 46px;
background: #e0e0e0;
box-shadow:  8px 8px 24px #cacaca,
             -8px -8px 24px #f6f6f6;
    background-color: #254336;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    display: block;
}
.nav > li{
    float:left;
}
.nav li a:hover{
    background-color: #696666;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
    border-style: solid;
    background:#254336;
    text-align: center;
    border-color: #fff;
    padding: 20px;
    color: #f7fbff;
}